{{ define "main" }}
<div class="container mb-4" role="main">
  <h1>
    {{ .Title }}&nbsp;
    <a href="/authors/{{ .Params.username }}/index.xml">
      <svg xmlns="http://www.w3.org/2000/svg" id="RSSicon" viewBox="0 0 8 8" width="1em" height="1em" fill="currentColor">
        <circle class="symbol" cx="2" cy="6" r="1"/>
        <path class="symbol" d="m 1,4 a 3,3 0 0 1 3,3 h 1 a 4,4 0 0 0 -4,-4 z"/>
        <path class="symbol" d="m 1,2 a 5,5 0 0 1 5,5 h 1 a 6,6 0 0 0 -6,-6 z"/>
      </svg>
    </a>
  </h1>

  {{ .Content }}

  <div class="row">
    {{ $username := .Params.username }}
    {{ range .Data.Pages }}
      <div class="col-12 mb-5">
        <h3 class="mt-1 h4"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h3>
        <div class="text-lighter">
          {{ partial "i18n_date.html" . }}
          {{- if .Params.tags -}}
            &emsp;|&emsp;Tags:
            {{- range .Params.tags }}
            &nbsp;<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
            {{- end -}}
          {{ end }}
        </div>
        <div class="post-entry mt-3">
          {{ if .Description }}
            {{ .Description }}
          {{ else }}
            {{ .Summary | markdownify }}
          {{ end }}
          {{ if .Truncated }}
            <a href="{{ .RelPermalink }}" class="d-block mt-2">{{ i18n "read-more" }}</a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
